:root{
    --mainText: #fff;
    --secondaryText: #efefef;
    --borderColor: #164056;
    --maincolor: #152029;
    --secondaryColor: #192734;
    --themeBorder: #fff;
    --previewBg: rgba(25,39,52,0.8);
    --perviewShadow: #111421;
    --btnColor: #17a2b8;
}